{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}

    <div class="row justify-content-center">
        <div class="col-lg-4">
            <form class="needs-validation" novalidate action="/register" method="post">
                <div class="form-group">
                    <input autocomplete="off" autofocus class="form-control" id="username" name="username" placeholder="Username" type="text" required>
                    <div class="invalid-feedback">
                        Username is unavailable.
                    </div>
                </div>
                <div class="form-group">
                    <input class="form-control" id="password" name="password" placeholder="Password" type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^\da-zA-Z]).{8,}" required>
                    <div class="invalid-feedback">
                        Password must be at least 8 characters; must contain at least one lowercase letter, one uppercase letter, one numeric digit, and one special character.
                    </div>
                </div>
                <div class="form-group">
                    <input class="form-control" id="confirmation" name="confirmation" placeholder="Confirm Password" type="password" required>
                    <div class="invalid-feedback">
                        Passwords must match.
                    </div>
                </div>
                <div class="form-group">
                    <small class="form-text text-muted" id="requirements">
                        Password must be at least 8 characters; must contain at least one lowercase letter, one uppercase letter, one numeric digit, and one special character.
                    </small>
                </div>
                <button class="btn btn-outline-success" type="submit">Register</button>
            </form>
        </div>
    </div>

    <script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {

          form.addEventListener('keyup', function() {
            $.get("/check?username=" + form.username.value, function(data) {
              if (data) {
                form.username.setCustomValidity('');
              }
              else {
                form.username.setCustomValidity('invalid');
              }
            });
            if (form.password.value != form.confirmation.value) {
              form.confirmation.setCustomValidity('invalid');
            }
            else {
              form.confirmation.setCustomValidity('');
            }
          }, false);

          form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
              document.querySelector('small').style.display = "none";
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
    </script>

{% endblock %}
